<br />
<h1>Courses landing index for instructor </h1>
<div class="booyah-box col-10 offset-1">
  <% @course.each do |course| %>
  <div class="row">
  <div class="col-sm-2 col-3">
    <%= link_to course.title, course_path(course) %> <br />
    Enrolled: <%= course.enrollments.count %> <br />
    <span class="badge badge-success"><%= number_to_currency course.cost %></span>
  </div>
  <%= image_tag course.image.url, class: "coursephoto" %>
  <div class="col-sm-4 col-5">
    <%= link_to 'Administer', instructor_course_path(course), class: "btn btn-danger btn-large" %> <br />
    <%= link_to 'Edit course', '#', class: "btn btn-primary btn-large" %> <br />
    <%= link_to 'Contact students', '#', class: "btn btn-success btn-large" %>
    </div>
  <br />
</div>
  <% end %>
</div>