<br />
<div class="booyah-box col-10 offset-1">
  <h1 class="text-center"><%= current_course.title %></h1>
    <br />
    <%= link_to 'Preview course', course_path(current_course), class: 'btn btn-warning float-right' %>
    <br class="clr" />
    <div class="text-center">
      <%= link_to 'Add a section...', new_instructor_course_section_path(current_course), class: 'btn btn-primary btn-large' %>
    </div>
    <br class="clr" />
  </div>
  <div class="booyah-box col-10 offset-1">
    <ul>
      <% current_course.sections.each do |section| %>
      <li class="text-center">
        <%= section.title %>
        <%= link_to 'New Lesson', new_instructor_section_lesson_path(section), class: 'float-right btn btn-primary' %>
        <ul>
          <br />
          <% section.lessons.each do |lesson| %>
          <li>
            <b><%= lesson.title %></b>
            -
            <%= lesson.subtitle %>
          </li>
          <% end %>
        </ul>
      </li>
      <br />
      <% end %>
    </ul>
  </div>