
<br />
<div class="booyah-box col-10 offset-1">
  <h1 class="text-center"><%= current_course.title %></h1>
  <% if current_course.image.url %>
    <%= image_tag current_course.image.url %>
    <% end %>
    <br />
    <%= link_to 'Preview course', course_path(current_course), class: 'btn btn-warning float-right' %>
    <br class="clr" />
    <div class="text-center">
      <%= link_to 'Add a section...', new_instructor_course_section_path(current_course), class: 'btn btn-primary btn-large' %>
    </div>
    <br class="clr" />
  </div>
  <div class="booyah-box col-10 offset-1">
    <ul class="sections">
      <% current_course.sections.rank(:row_order).each do |section|%> 
      <li data-update-section="<%= instructor_section_path(section) %>" class="section-li">
        <div class="header">
        <i class="fas fa-ellipsis-v"></i>
        <%= section.title %>
      </div>
        <%= link_to 'New Lesson', new_instructor_section_lesson_path(section), class: 'float-right btn btn-primary' %>
        <br class="clr" />
        <br class="clr" />
        <ul class="lessons">
          <br />
          <% section.lessons.rank(:row_order).each do |lesson| %>
          <li data-update-url=<%= instructor_lesson_path(lesson) %>>
            <div class="row">
              <div class="col-1">
                <br />
                <i class="fas fa-ellipsis-v"></i>
              </div>
              <div class="col-11 text-center">
            <p>
              <b><%= link_to lesson.title, lesson_path(lesson) %></b>
            </p>
            <p>
            <%= lesson.subtitle %>
          </p>
        </div>
      </div>
      <br class="clr" />
          </li>
          <% end %>
        </ul>
      </li>
      <br />
      <% end %>
    </ul>
  </div>


  <script>
    $(function () {
      $('.lessons').sortable({
        update: function( event, ui ) {
          $.ajax({
            type: 'PUT',
            url: ui.item.data('update-url'),
            dataType: 'json',
            data: { lesson: { row_order_position: ui.item.index() } }
          })
        }
      });    
    }); 

        $(function () {
      $('.sections').sortable({
        update: function( event, ui ) {
          console.log(ui.item.index())
          console.log(ui.item.data('update-section'))
          $.ajax({
            type: 'PUT',
            url: ui.item.data('update-section'),
            dataType: 'json',
            data: { section: { row_order_position: ui.item.index() } }
          })
        }
      });    
    }); 
  </script>