<br />
<div class="booyah-box col-10 offset-1">
  <div class="row">
    <div class="text-center col-sm-12"> <h3><%= link_to @course.title, course_path(@course) %></h3></div>
  </div>
  <div class="row align-items-center">   
    <div class="col-3 inset align-self-center">
      <% if @course.image.url %>
      <%= image_tag @course.image.url, class: 'coursephoto text-center' %>
      <br />
      Cost:
      <span class="badge badge-success"><%= number_to_currency @course.cost %></span><br/>
      Instructor: <%= @course.user.name %>
      <div class="col-sm-4 col-12">
        <%if current_user && current_user == @course.user %>
        <br />
        <%= link_to 'Administer', instructor_course_path(@course), class: "btn btn-danger btn-large" %>
        <br />
        <br />     
        <% end %> 

        <% if current_user %> 
        <% if current_user.enrolled_in?(@course) %>
        <h3 class="badge badge-info">You Are Enrolled!</h3>
        <% else %>
        <% if @course.free? %>
        <%= link_to 'Enroll', course_enrollments_path(@course), class: 'btn btn-primary', method: :post %>
        <% else %>
        <%= form_tag course_enrollments_path(@course) do %>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-email="<%= current_user.email %>"
        data-description="<%= @course.title %> (<%= number_to_currency @course.cost %>)"
        data-amount="<%= (@course.cost * 100).to_i %>"
        data-locale="auto"> 
      </script>
      <% end %>
      <% end %>
      <% end %>
      <% else %>
      <%= link_to "Sign in to Enroll!", new_user_session_path, :class => 'h3 badge badge-info' %>
      <% end %>
    </div>
  </div>
    <div class="col-6 align-self-start">
     <p>  <%= @course.description %></p>

   </div>
   <div class="col">
     <h3 class="text-center"> Section Preview </h3>
     <ul>
       <% @course.sections.each do |section| %>
       <li class="section-li text-center">

        <a href="#<%= section.id %>", style="display: block; text-align: center;"><%= section.title %></a>
      </li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>
<br />
</div>