<!DOCTYPE html>
<html>
<head>
  <title>Flixter</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <!-- <script src="https://kit.fontawesome.com/6f980847d3.js"></script> -->
  <link href="https://vjs.zencdn.net/7.6.0/video-js.css" rel="stylesheet">
</head>
<!-- Navbar -->
<div id="flex-content-container">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
   <%= link_to 'Flixter', root_path, class: 'navbar-brand' %>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'All Courses', courses_path, class: 'nav-link' %>
      </li> 
    </ul>
  </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item dropdown navbar-right">
        <a class="nav-link dropdown-toggle" href="#" role="button" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-music"></i>
          <%if user_signed_in? %>
          <%= current_user.name %>
          <% else %>
          Login/Sign up
          <% end %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <% if user_signed_in? %>
          <strong><%= current_user.email %></strong>
          <button type="button" class="dropdown-item btn btn-primary btn-block" data-toggle="modal" data-target="#editModal">
            Edit Info
          </button><br />
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'dropdown-item btn btn-secondary btn-block'  %>
          <% else %>
          <button type="button" class="dropdown-item btn btn-primary btn-block" data-toggle="modal" data-target="#signupModal">
            Sign Up
          </button><br />
          <button type="button" class="dropdown-item btn btn-primary btn-block" data-toggle="modal" data-target="#loginModal">
            Log In
          </button>     
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!-- Register Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
<div class="modal-body">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :name,
        required: true,
        autofocus: true,
        input_html: { autocomplete: "name"}%>
        <%= f.input :email,
        required: true,
        autofocus: true,
        input_html: { autocomplete: "email" }%>
        <%= f.input :password,
        required: true,
        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
        input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
        required: true,
        input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up", class: 'btn btn-primary' %>
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
      <% end %>


    </div>
     
    </div>
  </div>
</div>

<!-- User edit modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <h2>Edit <%= resource_name.to_s.humanize %></h2>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password,
        hint: "leave it blank if you don't want to change it",
        required: false,
        input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
        required: false,
        input_html: { autocomplete: "new-password" } %>
        <%= f.input :current_password,
        hint: "we need your current password to confirm your changes",
        required: true,
        input_html: { autocomplete: "current-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update" %>
      </div>
      <% end %>

      <h3>Cancel my account</h3>

      <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

      <%= link_to "Back", :back %>
    </div>
  </div>
  </div>
</div>
<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Log-in</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
        required: false,
        autofocus: true,
        input_html: { autocomplete: "email" } %>
        <%= f.input :password,
        required: false,
        input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>
<div class="text-center">
  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
  <% end %>
</div>
<%= yield %>

<br />
<!-- Footer -->
<div class="footer" id="footer">
  <div class="row text-center align-self-center">
    <div class="col-12 col-sm-4 align-self-center">
      <% if current_user.nil? %>
      <a href="#" data-toggle="modal" data-target="#loginModal">Login</a> or 
      <a href="#" data-toggle="modal" data-target="#signupModal">Sign-up</a><br/>
      to teach a course
      or edit existing courses
      <% else %>
      <%= link_to 'Teach a Course', new_instructor_course_path %><br />
      <%= link_to 'Your Courses', instructor_courses_path %>
      <% end %>
    </div>
    <div class="col-12 col-sm-4 align-self-center text-center">
      <br />
      <%= link_to 'Contact', '#' %> 
      <br />
      <%= link_to 'Our Team', '#'%>
      <br />
      <%= link_to 'Privacy Policy', privacy_path %>
    </div>
    <div class="col-12 col-sm-4 align-self-center social">
      <b>Social</b>
      <br />
      <%= link_to 'http://github.com/Quavacle' do %>
      <span class="social-button fab fa-github-square fa-2x"></span>
      <% end %>
      <%= link_to 'http://facebook.com/quavacle' do %>
      <span class="social-button fab fa-facebook-square fa-2x"></span>
      <% end %>
      <%= link_to 'http://twitter.com/bvm' do %>
      <span class="social-button fab fa-twitter-square fa-2x"></span>
      <% end %>
    </div>
  </div>
</div>



<!-- Videojs script -->
<script src='https://vjs.zencdn.net/7.6.0/video.js'></script>
<script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
<!-- Bootstrap scripts -->
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>




</body>
</html>
